html {
	scroll-behavior: smooth;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
}
.container .title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
	margin-bottom: 10px;
}
.container .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details {
	display: flex;
	justify-content: space-between;
	/* margin: 20px 0 12px 0; */
	/* gap: 20px; */
}
.container form .user-details > div {
	width: calc(50% - 10px);
}
.column-one {
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}
form .user-details .input-box {
	margin-bottom: 15px;
	width: 100%;
}
@media (max-width: 800px) {
	.container form .user-details {
		flex-direction: column;
	}
	form .user-details .input-box {
		width: 100%;
	}
	.column-one {
		width: 100% !important;
	}
	.column-two {
		width: 100% !important;
	}
	textarea {
		width: 100% !important;
	}

}
.user-details .input-box span {
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}
.user-details .input-box input,
textarea {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
}
textarea {
	height: 131px;
	resize: none;
	padding: 10px;
}
form .button input {
	width: 100%;
	outline: none;
	border: none;
	color: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	padding: 10px;
	cursor: pointer;
}
form .button input:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
