@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");

* {
	font-family: "Outfit", sans-serif;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	--LColor: #0f0c29;
	--MColor: #302b63;
	--RColor: #24243e;
}
*,
*::before,
*::after {
	cursor: pointer !important;
}

body {
	width: 100%;
	height: fit-content;
	background: linear-gradient(to right, #000000, #434343);
}

body main {
	padding: 2rem;
}
main .levels {
	background-color: #fff;
	margin-bottom: 25px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	padding: 10px 0px;
}
main .levels ul {
	display: flex;
}
main .levels ul li {
	list-style: none;
	margin-right: 10px;
	transition: 0.3s;
	padding: 5px 10px;
}
main .levels ul li:hover,
main .levels ul li.active {
	background-color: #0075ff;
	color: #fff;
	border-radius: 4px;
}

body main > ul {
	list-style: none;
	padding: 0;

	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
body main > ul li {
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
}
body main > ul li a {
	display: block;
	text-decoration: none;
}
body main > ul li a:hover h3 {
	color: #0075ff;
}
body main > ul li a img.background {
	width: 100%;
	height: 194px;
	border-radius: 0.25rem;
	display: block;
	border-bottom: 3px solid #ccc;
}
body main > ul li .info {
	padding: 10px;
	color: #000;
}
.info h3 {
	text-transform: capitalize;
	margin-bottom: 10px;
	transition: 0.3s;
}
.difficulty {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	color: #222;
}
.difficulty ul {
	display: flex;
}
.difficulty ul li {
	list-style: none;
	width: 10px;
	height: 10px;
	background-color: #eee;
	border-radius: 50%;
	margin-right: 3px;
}
.difficulty ul li.active {
	background-color: #0075ff;
}
.technologies {
	display: flex;
	justify-content: space-between;
	color: #222;
}
.technologies .techs img {
	width: 20px;
	margin-right: 5px;
}
@keyframes moveLtoR {
	from {
		left: 0;
	}
	to {
		left: calc(100% - 2rem);
	}
}

@media (max-width: 413px) {
	body main {
		padding: 1rem;
	}

	body main > ul {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	body main > ul li a h3 {
		font-size: 0.5rem;
		right: 0.5rem;
		top: 0.5rem;
		transition: 0.5s;
	}
	body main > ul li a img:first-child {
		width: 1.5rem;
	}
}
