/* Start Global Rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	font-family: sans-serif;
}
body {
	height: 100vh;
}
/* .image span {

} */
/* End Global Rules */
.container {
	padding: 25px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 25px;
}
.container > div {
	border-radius: 10px;
	overflow: hidden;
}
.image {
	height: 55%;
	width: 100%;
	background-image: url(imgs/01.webp);
	background-size: cover;
	background-position: center 24%;
	text-transform: uppercase;
	position: relative;
}
.image span {
	display: block;
	position: absolute;
	background-color: #495052;
	color: #fff;
	top: 20px;
	right: 20px;
	padding: 5px 10px;
	border-radius: 5px;
}
.info {
	color: #fff;
	padding: 30px;
	height: fit-content;
}
.info h2 {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.info p {
	line-height: 2;
	margin-bottom: 20px;
}
.info span {
	display: block;
	background-color: #e1b543;
	text-transform: uppercase;
	width: fit-content;
	padding: 10px 20px;
	cursor: pointer;
}
.box-1 {
	background-color: #edbf47;
	height: 00px;
}

/* ---------------- */
.box-2 {
	background-color: #ec774b;
	grid-row: span 4;
	color: #fff;
	padding: 40px 60px;
	text-align: center;
}
.box-2 p {
	font-size: 25px;
	line-height: 2;
}
.box-2 span i {
	color: #dc724b;
}
/* -------------- */
.box-3 {
	background-color: #74cee4;
	grid-row: span 8;
}
.box-3 .image {
	background-image: url(imgs/02.webp);
	height: 65%;
}
.box-3 .info span {
	background-color: #6ec3d8;
}
/* --------------- */
.box-4 {
	background-color: #6fc191;
	height: 20%;
}
.box-4 .image {
	height: 80%;
	background-image: url(imgs/03.webp);
}
/* ----------------- */
.box-5 {
	background-color: #e16c6c;
	grid-column: 2 /3;
	grid-row: 5 /11;
}
.box-5 .image {
	background-image: url(imgs/04.webp);
}
.box-5 .info span {
	background-color: #d66666;
}
/* ------------------ */
.box-6 {
	background-color: #c389ce;
	grid-column: 3 /4;
	grid-row: span 2;
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box-6 i {
	margin-right: 15px;
}
